<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- prevent IIS from redirecting with full hostname (not handled by Azure Web Application Gateway) when user requests the app root (or a physical subfolder, e.g. /app/admin) without trailing slash -->
      <add name="CourtesyRedirectOverride" preCondition="integratedMode" type="CourtesyRedirectOverride.CourtesyRedirectOverride"/>
    </modules>
  </system.webServer>
</configuration>